* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 375px;
    height: 812px;
    margin: auto;
    font-family: 'Cairo', sans-serif;
}

.shape1 {
    position: absolute;
    top: 0;
    left: 0;
}

.shape2 {
    position: absolute;
    top: 0;
    right: 0;
}

.shape3 {
    position: absolute;
    top: 600px;
    right: 0;
    z-index: -10;
}

.shape4 {
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: -10;
}

.shape5 {
    position: absolute;
    top: 950px;
    right: 0;
    z-index: -10;
}

h1 {
    color: #D6424D;
    text-align: center;
    margin: 50px 0 40px 0;
    font-size: 36px;
}

.searchMeal {
    margin: 0 40px;
}

.searchMeal label {
    color: #2F545C;
    margin: 0 0 20px 25px;
    font-size: 16px;
}

.searchBox {
    background-color: #D5D5D5;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    border: none;
    outline: none;
    background: none;
    margin: 10px 10px 10px 25px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
}

.searchBox a {
    border: none;
    outline: none;
    background: none;
    text-align: center;
    margin: 13px 25px 8px 10px;
    cursor: pointer;
}

.exploreKitchens {
    margin: 60px 25px;
    padding-bottom: 60px;
}

.exploreKitchens label {
    color: #2F545C;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.kitchens {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.kitchens a {
    cursor: pointer;
    text-decoration: none;
    margin: 15px;
}

.kitchen {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    background: url(../assets/america.jpg) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
}

.amr {
    background: url(../assets/america.jpg);
    background-size: 100%;
}
.brt {
    background: url(../assets/British.jpg);
    background-size: 100%;
}
.frn {
    background: url(../assets/French.jpg);
    background-size: 100%;
}
.egy {
    background: url(../assets/egypt.jpg);
    background-size: 100%;
}
.chn {
    background: url(../assets/Chinese.jpg);
    background-size: 100%;
}
.ind {
    background: url(../assets/Indian.jpg);
    background-size: 100%;
}
.itl {
    background: url(../assets/Italian.jpg);
    background-size: 100%;
}
.mls {
    background: url(../assets/Malaysian.jpg);
    background-size: 100%;
}

.kitchenName {
    background-color: #D6424D;
    color: #E9E1E2;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 3px 13px;
    font-size: 16px;
    font-weight: 600;
}

.kitchenName:hover {
    height: 100%;
    border-radius: 10px;
    opacity: 0.9;
    padding-top: 10px;
    color: white;
    font-size: 20px;
}

/* .kitchenImg img {
    height: 87px;
    width: 127px;
} */