* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 812px;
  margin: auto;
  font-family: "Cairo", sans-serif;
}

.shape1 {
  position: absolute;
  top: 0;
  left: 0;
}

.shape2 {
  position: absolute;
  top: 0;
  right: 0;
}

.shape3 {
  position: absolute;
  top: 600px;
  right: 0;
  z-index: -10;
}

.shape4 {
  position: absolute;
  top: 1000px;
  left: 0;
  z-index: -10;
}

.shape5 {
  position: absolute;
  top: 950px;
  right: 0;
  z-index: -10;
}

h1 {
  color: #d6424d;
  text-align: center;
  margin: 50px 0 40px 0;
  font-size: 36px;
}

.searchMeal {
  margin: 0 40px;
}

.searchMeal label {
  color: #2f545c;
  margin: 0 0 20px 25px;
  font-size: 16px;
}

.searchBox {
  background-color: #d5d5d5;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 80%;
  border: none;
  outline: none;
  background: none;
  margin: 10px 10px 10px 25px;
  font-size: 17px;
  font-weight: 600;
  font-family: "Cairo", sans-serif;
}

.searchBox a {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  margin: 13px 25px 8px 10px;
  cursor: pointer;
}

.exploreKitchens {
  margin: 60px 25px;
  padding-bottom: 60px;
}

.exploreKitchens label {
  color: #2f545c;
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
}

.kitchens {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.kitchens a {
  cursor: pointer;
  text-decoration: none;
  margin: 15px;
}

.kitchen {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  background: url(../assets/america.jpg) no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
}

.amr {
  background: url(../assets/america.jpg);
  background-size: 100%;
}
.brt {
  background: url(../assets/British.jpg);
  background-size: 100%;
}
.frn {
  background: url(../assets/French.jpg);
  background-size: 100%;
}
.egy {
  background: url(../assets/egypt.jpg);
  background-size: 100%;
}
.chn {
  background: url(../assets/Chinese.jpg);
  background-size: 100%;
}
.ind {
  background: url(../assets/Indian.jpg);
  background-size: 100%;
}
.itl {
  background: url(../assets/Italian.jpg);
  background-size: 100%;
}
.mls {
  background: url(../assets/Malaysian.jpg);
  background-size: 100%;
}

.kitchenName {
  background-color: #d6424d;
  color: #e9e1e2;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 3px 13px;
  font-size: 16px;
  font-weight: 600;
}

.kitchenName:hover {
  height: 100%;
  border-radius: 10px;
  opacity: 0.9;
  padding-top: 10px;
  color: white;
  font-size: 20px;
}

/* responsive for tablets */
@media screen and (min-width: 768px) {
  body {
    width: 768px;
    height: 635px;
    margin: auto;
  }

  .shape3 {
    top: 500px;
  }

  .shape4 {
    top: 900px;
  }

  .shape5 {
    top: 850px;
  }

  .searchMeal {
    margin: 0 130px;
  }

  .exploreKitchens {
    margin: 80px 90px;
  }

  .exploreKitchens label {
    margin-left: 30px;
  }

  .kitchens {
    justify-content: center;
  }

  .kitchens a {
    margin: 20px 29px;
  }
}

/* responsive for laptop */
@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
    height: auto;
    margin: auto;
  }

  .shape3 {
    top: 400px;
  }

  .shape4 {
    top: 780px;
  }

  .shape5 {
    top: 730px;
  }

  .searchMeal {
    margin: 0 200px;
  }

  .exploreKitchens {
    margin: 90px 100px 60px 100px;
    padding-bottom: 0;
  }

  .exploreKitchens label {
    margin-left: 30px;
  }

  .kitchens {
    justify-content: center;
  }

  .kitchens a {
    margin: 25px;
  }

  .kitchen {
    height: 150px;
    width: 150px;
  }
}
